.example-footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
}

.example-footer.mat-toolbar-single-row{
    height: 85px;
}

.toolbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}


ion-navbar ion-item.item, .content-md{
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
}
ion-item.item, .content-md, ion-footer{
    background-color: #f9fcfc;
}
ion-footer ion-row{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
    max-height: 46px;
}
.footer-md::before{
    background-image: none;
}

.message{
    background-color: white;
    padding: 10px 25px;
    margin: 0;
    border-radius: 6px 20px 20px 6px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
}
.agent .message{
    background-color: #c4e7ff;
    border-radius: 20px 6px 6px 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
}



.list-md .item-block .item-inner{
    border-bottom: none;
    margin-bottom: 17px;
}

.text-input-md {
    margin: 8px 8px;
}


.declined.status{
    color: #F44336;
}

.online.status{
    color: #2bde6c;
}
.status{
    color: #a2a4a3;
    font-size: 13px;
}

.chat-list{
    overflow-y: scroll;
    height: calc(100vh - 296px);
}