<mat-toolbar class="toolbar" [ngStyle]="{'background-color': chatColor()}"><span *ngIf="activeRoom">{{activeRoom.job_id}} {{status}} <button mat-mini-fab color="primary" (click)="deleteRoom()">X</button></span></mat-toolbar>
<mat-list class="chat-list">
    <div *ngFor="let data of messages">
        <div *ngIf="data.message">
            <!--<ion-item *ngIf="username === data.username && data.show" class="agent">-->
            <!--<div class="chat-text" item-right>-->
            <!--<strong>{{data.username}}</strong>-->
            <!--</div>-->
            <!--</ion-item>-->
            <mat-list-item *ngIf="username === data.username" class="agent  item-right">
                <div class="chat-text message" >
                    {{data.message}}
                </div>
            </mat-list-item>

            <!--<ion-item *ngIf="username !== data.username && data.show" class="agent">-->
            <!--<div class="chat-text" item-left>-->
            <!--<strong>{{data.username}}</strong>-->
            <!--</div>-->
            <!--</ion-item>-->
            <mat-list-item *ngIf="username !== data.username" class="item-left">
                <div class="chat-text message" >
                    {{data.message}}
                </div>
            </mat-list-item>
        </div>
    </div>
    <mat-list *ngFor="let preset of presetsStrings.presets">
        <button block round ion-button (click)="chatSend({chatText:preset})" text-wrap>{{preset}}</button>
    </mat-list>
</mat-list>



<mat-toolbar class="example-footer">
    <form class="example-form" #f="ngForm">
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="chat" name="chatText" (keyup.enter)="chatSend(f.value, f.valid)" matInput #message maxlength="256" placeholder="Message">
            <!--<mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>-->
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
    </form>
</mat-toolbar>