<!--The content below is only a placeholder and can be replaced.-->
<mat-spinner class="spinner__container" *ngIf="single.show_spinner"></mat-spinner>
<div class="login getstart" *ngIf="!single.authenticated(single.token)">
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
        <mat-form-field class="example-full-width" ngSu>
            <input matInput placeholder="Email" type="email" required [(ngModel)]="form.email"  name="email" >


            <!--<input matInput placeholder="Email" [(ngModel)]="form.email"  name="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">-->

            <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
                <!--Please enter a valid email address-->
            <!--</mat-error>-->
            <!--<mat-error *ngIf="emailFormControl.hasError('required')">-->
                <!--Email is <strong>required</strong>-->
            <!--</mat-error>-->
        </mat-form-field>
        <mat-form-field class="example-full-width" >
            <input matInput placeholder="Password" type="password" required [(ngModel)]="form.password" name="password">
        </mat-form-field>

        <button mat-button color="primary">Submit</button>
        <div *ngIf="single.error">{{single.error}}</div>
    </form>
</div>

<div class="login getstart" *ngIf="single.authenticated(single.token)">
    <mat-toolbar color="primary" class="example-toolbar" >
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Chat App Vis-home</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="single.logout()"  >Logout</button>
    </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer opened #drawer class="example-sidenav" mode="side">
        <app-drawer [room_online]="room_online" [room_online_personal]="room_online_personal" [allRoom]="allRoom" [(activeRoom)]="activeRoom"></app-drawer>
    </mat-drawer>

      <div class="example-sidenav-content">
          <mat-grid-list cols="2">

              <app-chat *ngFor="let room of allRoom" name="chat" [room_online]="room_online" [allRoom]="allRoom" [activeRoom]="room" [ngStyle]="{'width': widthChat(), 'display': 'inline-block'}"></app-chat>

              <!--<app-chat name="chat" [allRoom]="allRoom" [activeRoom]="activeRoom" style="width: 50%; display: inline-block"></app-chat>-->



          </mat-grid-list>

      </div>

  </mat-drawer-container>
</div>

