<p>Job online personal:</p>

<mat-expansion-panel *ngFor="let joob of room_online_personal">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{joob.job_id}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list>
        <div *ngFor="let room of joob.room_id" >
            <button mat-button="" (click)="setActive(room, joob.job_id)" > Room {{room}} </button>
        </div>
    </mat-selection-list>
</mat-expansion-panel>


<!--<p>Job online all:</p>-->

<!--<mat-expansion-panel *ngFor="let joob of room_online">-->
    <!--<mat-expansion-panel-header>-->
        <!--<mat-panel-title>-->
            <!--{{joob.job_id}}-->
        <!--</mat-panel-title>-->
    <!--</mat-expansion-panel-header>-->
    <!--<mat-selection-list>-->
        <!--<div *ngFor="let room of joob.room_id" >-->
            <!--<button mat-button="" (click)="setActive(room, joob.job_id)" > Room {{room}} </button>-->
        <!--</div>-->
    <!--</mat-selection-list>-->
<!--</mat-expansion-panel>-->