/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

mat-list-item.item-right .mat-list-item-content{
    float: right!important;
}
mat-list-item.item-left .mat-list-item-content{
    float: left;
}


/*.mat-online{*/
    /*background-color: #43A047;*/
    /*color: #fff;*/
/*}*/

.mat-offline{
    background-color: #C62828;
    color: #fff;
}